In [15]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import a_key

In [16]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kodiak,US,2022-02-01 18:37:46,57.7900,-152.4072,38.71,93,100,18.41
1,1,Tasiilaq,GL,2022-02-01 18:37:47,65.6145,-37.6368,10.56,70,100,5.93
2,2,Busselton,AU,2022-02-01 18:37:48,-33.6500,115.3333,61.05,66,54,17.74
3,3,Ushuaia,AR,2022-02-01 18:36:35,-54.8000,-68.3000,47.82,87,100,33.38
4,4,Saldanha,ZA,2022-02-01 18:37:50,-33.0117,17.9442,69.85,95,22,8.34

In [17]:
# Configure gmaps to use your Google API key.
gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

NameError: name 'locations' is not defined

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Rikitea,PF,2022-02-01 18:37:52,-23.1203,-134.9692,78.04,70,100,7.25
8,8,Ambon,ID,2022-02-01 18:37:52,-3.6954,128.1814,75.34,94,40,5.75
16,16,Karratha,AU,2022-02-01 18:37:58,-20.7377,116.8463,84.76,69,91,7.81
19,19,Savannah Bight,HN,2022-02-01 18:38:00,16.4500,-85.8500,82.45,72,0,17.69
21,21,Atuona,PF,2022-02-01 18:38:02,-9.8000,-139.0333,78.42,77,25,23.22
22,22,Port Macquarie,AU,2022-02-01 18:38:02,-31.4333,152.9167,75.88,85,100,8.01
23,23,Awash,ET,2022-02-01 18:38:03,8.9833,40.1667,75.00,30,51,4.09
24,24,Tautira,PF,2022-02-01 18:38:04,-17.7333,-149.1500,84.22,78,25,20.15
26,26,Hambantota,LK,2022-02-01 18:38:06,6.1241,81.1185,77.34,83,40,10.36
27,27,Oistins,BB,2022-02-01 18:38:06,13.0667,-59.5333,84.29,61,20,14.97

In [18]:
preferred_cities_df.count()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
7          Rikitea      PF     78.04 -23.1203 -134.9692
8            Ambon      ID     75.34  -3.6954  128.1814
16        Karratha      AU     84.76 -20.7377  116.8463
19  Savannah Bight      HN     82.45  16.4500  -85.8500
21          Atuona      PF     78.42  -9.8000 -139.0333
22  Port Macquarie      AU     75.88 -31.4333  152.9167
23           Awash      ET     75.00   8.9833   40.1667
24         Tautira      PF     84.22 -17.7333 -149.1500
26      Hambantota      LK     77.34   6.1241   81.1185
27         Oistins      BB     84.29  13.0667  -59.5333

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": a_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng             Hotel Name
7          Rikitea      PF     78.04 -23.1203 -134.9692        People ThankYou
8            Ambon      ID     75.34  -3.6954  128.1814   Swiss-Belhotel Ambon
16        Karratha      AU     84.76 -20.7377  116.8463   ibis Styles Karratha
19  Savannah Bight      HN     82.45  16.4500  -85.8500   Villa on Dunbar Rock
21          Atuona      PF     78.42  -9.8000 -139.0333            Villa Enata
22  Port Macquarie      AU     75.88 -31.4333  152.9167  Rydges Port Macquarie
23           Awash      ET     75.00   8.9833   40.1667           Kediga hotel
24         Tautira      PF     84.22 -17.7333 -149.1500           Pension Oaoa
26      Hambantota      LK     77.34   6.1241   81.1185            Bungalow 63
27         Oistins      BB     84.29  13.0667  -59.5333  Butterfly Beach Hotel

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))