## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [23]:
# 1. Import the WeatherPy_database.csv file.

city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Mayo,38.8876,-76.5119,38.55,39,0,7.00,US,2022-02-06 18:43:01,clear sky
1,1,Torbay,47.6666,-52.7314,16.75,81,100,17.27,CA,2022-02-06 18:44:52,light snow
2,2,Kavieng,-2.5744,150.7967,81.16,77,82,3.47,PG,2022-02-06 18:44:52,broken clouds
3,3,Srednekolymsk,67.4500,153.6833,-36.83,100,58,1.28,RU,2022-02-06 18:44:53,broken clouds
4,4,Thinadhoo,0.5333,72.9333,82.62,69,75,11.05,MV,2022-02-06 18:44:53,broken clouds

In [51]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 60

In [52]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
10,10,Busselton,-33.6500,115.3333,54.09,53,64,17.92,AU,2022-02-06 18:44:55,broken clouds
27,27,Dunedin,-45.8742,170.5036,52.81,79,0,1.01,NZ,2022-02-06 18:44:59,clear sky
38,38,Hobart,-42.8794,147.3294,53.06,87,5,9.22,AU,2022-02-06 18:45:02,clear sky
56,56,Portland,45.5234,-122.6762,54.28,81,100,3.00,US,2022-02-06 18:45:10,fog
70,70,New Norfolk,-42.7826,147.0587,52.72,74,4,1.95,AU,2022-02-06 18:47:30,clear sky
71,71,Iberia,29.9502,-91.7507,54.97,37,0,4.61,US,2022-02-06 18:48:57,clear sky
72,72,Gat,31.6100,34.7642,54.91,83,0,5.59,IL,2022-02-06 18:48:58,clear sky
78,78,Chalmette,29.9427,-89.9634,57.09,41,0,1.99,US,2022-02-06 18:48:59,clear sky
80,80,Lakes Entrance,-37.8811,147.9810,52.57,91,8,5.59,AU,2022-02-06 18:49:00,clear sky
82,82,Tezu,27.9167,96.1667,52.00,88,100,3.83,IN,2022-02-06 18:49:01,overcast clouds

In [53]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                56
City                   56
Lat                    56
Lng                    56
Max Temp               56
Humidity               56
Cloudiness             56
Wind Speed             56
Country                56
Date                   56
Current Description    56
dtype: int64

In [54]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                56
City                   56
Lat                    56
Lng                    56
Max Temp               56
Humidity               56
Cloudiness             56
Wind Speed             56
Country                56
Date                   56
Current Description    56
dtype: int64

In [55]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Busselton,AU,54.09,broken clouds,-33.6500,115.3333,
27,Dunedin,NZ,52.81,clear sky,-45.8742,170.5036,
38,Hobart,AU,53.06,clear sky,-42.8794,147.3294,
56,Portland,US,54.28,fog,45.5234,-122.6762,
70,New Norfolk,AU,52.72,clear sky,-42.7826,147.0587,
71,Iberia,US,54.97,clear sky,29.9502,-91.7507,
72,Gat,IL,54.91,clear sky,31.6100,34.7642,
78,Chalmette,US,57.09,clear sky,29.9427,-89.9634,
80,Lakes Entrance,AU,52.57,clear sky,-37.8811,147.9810,
82,Tezu,IN,52.00,overcast clouds,27.9167,96.1667,

In [57]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [61]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Busselton,AU,54.09,broken clouds,-33.6500,115.3333,Observatory Guest House
27,Dunedin,NZ,52.81,clear sky,-45.8742,170.5036,Scenic Hotel Southern Cross
38,Hobart,AU,53.06,clear sky,-42.8794,147.3294,Mantra on Collins Hobart
56,Portland,US,54.28,fog,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
70,New Norfolk,AU,52.72,clear sky,-42.7826,147.0587,The Shingles Riverside Cottages
71,Iberia,US,54.97,clear sky,29.9502,-91.7507,back to back rv park
72,Gat,IL,54.91,clear sky,31.6100,34.7642,OlusHome
78,Chalmette,US,57.09,clear sky,29.9427,-89.9634,Marina Inn & Suites Chalmette-New Orleans
80,Lakes Entrance,AU,52.57,clear sky,-37.8811,147.9810,The Esplanade Resort & Spa
82,Tezu,IN,52.00,overcast clouds,27.9167,96.1667,Circuit House
101,Skibbereen,IE,51.12,overcast clouds,51.5500,-9.2667,The West Cork Hotel
107,Saint George,US,59.47,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
119,Darnah,LY,58.73,overcast clouds,32.7670,22.6367,فندق الفردوس
154,Kutum,SD,57.52,scattered clouds,14.2000,24.6667,Dibbo areaمنطقة دبو
160,Hokitika,NZ,55.51,overcast clouds,-42.7167,170.9667,Beachfront Hotel Hokitika
176,Warrnambool,AU,58.35,clear sky,-38.3833,142.4833,Lady Bay Resort
181,Muros,ES,52.84,scattered clouds,42.7762,-9.0603,Apartment Av. Castelao
188,Porto Empedocle,IT,55.36,overcast clouds,37.2934,13.5264,Hotel dei Pini
208,Havelock,US,51.98,broken clouds,34.8791,-76.9013,Sherwood Motel
238,Sagada,PH,57.13,overcast clouds,17.0840,120.8996,Coffee Heritage House
255,Plouzane,FR,53.69,overcast clouds,48.3833,-4.6167,Lymina
267,Santiago De Chuco,PE,55.65,light rain,-8.1500,-78.1833,Hostal San Cristóbal
288,Codrington,AU,57.51,clear sky,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
289,Burnie,AU,58.95,few clouds,-41.0667,145.9167,Beachfront Voyager Motor Inn
292,Collie,AU,51.98,broken clouds,-33.3667,116.1500,Collie Ridge
323,Christchurch,NZ,55.33,overcast clouds,-43.5333,172.6333,The George
337,Teknaf,BD,59.27,overcast clouds,20.8624,92.3058,Forestry Guesthouse
359,Orbetello,IT,51.80,scattered clouds,42.4408,11.2196,Argentario Golf Resort & Spa
368,Lithakia,GR,56.59,scattered clouds,37.7167,20.8333,Zante Plaza Hotel & Apartments
375,Tuskegee,US,56.08,clear sky,32.4240,-85.6916,Macon Motel
383,Morgan City,US,55.99,clear sky,29.6994,-91.2068,Hampton Inn & Suites Morgan City
386,Nishihara,JP,58.28,overcast clouds,26.1842,127.7558,Minshuku Agaihama
402,Houston,US,59.40,few clouds,29.7633,-95.3633,"Hotel ICON, Autograph Collection"
434,Moree,AU,59.02,clear sky,-29.4667,149.8500,Molika Springs Motel
436,Dabat,ET,53.51,clear sky,12.9842,37.7650,Haymanot hotel
450,North Bend,US,54.86,clear sky,43.4065,-124.2243,Red Lion Hotel Coos Bay
455,Sayyan,YE,54.28,broken clouds,15.1718,44.3244,ملاطف ابوحورية
470,Praia Da Vitoria,PT,59.76,mist,38.7333,-27.0667,Hotel Branco I
518,Lata,PT,52.81,clear sky,40.1629,-8.3327,Casa Maquia
532,Suez,EG,58.28,clear sky,29.9737,32.5263,Green House
552,Carballo,ES,53.29,broken clouds,43.2130,-8.6910,Pazo do Souto
563,Faya,SA,54.48,clear sky,18.3851,42.4509,املاك خالد الشعشوع
569,Tukrah,LY,57.85,overcast clouds,32.5341,20.5791,Lagrota restaurant
581,Suluq,LY,57.87,overcast clouds,31.6682,20.2521,ورشة الحضيري لاكترونات وخدمات النت
594,Trapani,IT,55.35,overcast clouds,37.8333,12.6667,
601,Sakakah,SA,51.37,clear sky,29.9697,40.2064,Fakhamat Al Orjoana Apartment
602,Mont-De-Marsan,FR,50.22,overcast clouds,44.0000,-0.6667,Le moulin vieux
607,Dalby,AU,54.99,light rain,-27.1833,151.2667,Kobbers Motor Inn Dalby
609,Ngorongoro,TZ,54.91,overcast clouds,-3.2397,35.4875,Simba Special Campsite B
638,Tahta,EG,57.56,clear sky,26.7693,31.5021,shady waheed
645,Santa Engracia,ES,50.14,clear sky,41.9406,-1.3245,Casa rural Santa Engracia
647,Mount Gambier,AU,59.36,clear sky,-37.8333,140.7667,The Commodore
661,Tarragona,ES,53.26,clear sky,41.1290,1.2490,Hotel SB Ciutat de Tarragona
665,Launceston,AU,56.84,overcast clouds,-41.4500,147.1667,Hotel Grand Chancellor Launceston
683,Anahuac,MX,58.50,clear sky,27.2333,-100.1500,HOTEL SAN FELIPE
694,Llanes,ES,51.89,broken clouds,43.4198,-4.7549,Hotel La Paz

In [62]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [64]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [68]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))