## Deliverable 3. Create a Travel Itinerary Map.

In [161]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [162]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Busselton,AU,54.09,broken clouds,-33.6500,115.3333,Observatory Guest House
1,27,Dunedin,NZ,52.81,clear sky,-45.8742,170.5036,Scenic Hotel Southern Cross
2,38,Hobart,AU,53.06,clear sky,-42.8794,147.3294,Mantra on Collins Hobart
3,56,Portland,US,54.28,fog,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
4,70,New Norfolk,AU,52.72,clear sky,-42.7826,147.0587,The Shingles Riverside Cottages

In [173]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [174]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [165]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Mount Gambier")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Mount Gambier")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Codrington")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Warrnambool")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Lakes Entrance")]

In [166]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,80,Lakes Entrance,AU,52.57,clear sky,-37.8811,147.981,The Esplanade Resort & Spa

In [167]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start = start[0,(5,6)]
end = vacation_end.to_numpy()
end = end[0,(5,6)]
stop1 = vacation_stop1.to_numpy()
stop1 = stop1[0,(5,6)]
stop2 = vacation_stop2.to_numpy()
stop2 = stop2[0,(5,6)]
stop3 = vacation_stop3.to_numpy()
stop3 = stop3[0,(5,6)]

In [168]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
start_point  = (start[0],start[1])
end_point = (end[0],end[1])
waypoint1 = (stop1[0],stop1[1])
waypoint2 = (stop2[0],stop2[1])
waypoint3 = (stop3[0],stop3[1])

fig = gmaps.figure()
MountGambier2LakesEntrance = gmaps.directions_layer(start_point, end_point, waypoints=[waypoint1,waypoint2,waypoint3], 
                                                    travel_mode='BICYCLING'or 'DRIVING' or 'WALKING')
fig.add_layer(MountGambier2LakesEntrance)
fig

Figure(layout=FigureLayout(height='420px'))

In [169]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,647,Mount Gambier,AU,59.36,clear sky,-37.8333,140.7667,The Commodore
1,288,Codrington,AU,57.51,clear sky,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
2,176,Warrnambool,AU,58.35,clear sky,-38.3833,142.4833,Lady Bay Resort
3,80,Lakes Entrance,AU,52.57,clear sky,-37.8811,147.9810,The Esplanade Resort & Spa

In [175]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [177]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))